<body style="background-color:rgb(233, 168, 83);"></body>

<h1 style="color: rgb(248, 246, 239);">Password Reset</h1>

<p style="font-size:30px">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

</br>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input   type="Submit" name="Send email" style="width: 150px">   

	<a href="http://127.0.0.1:8000/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Return Home</a>
	
	
</form>
</body>

