{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Details</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<div class="products">
	<div class="container">
		<div class="agileinfo_single">

			<div class="col-md-3 agileinfo_single_left">
				<img id="example" src="{{book.image.url}}" style="height: 320px;width: 250px;" alt=" "
					class="img-responsive">
			</div>
			<div class="col-md-8 agileinfo_single_right">
				<h2>{{book.name}}</h2>
				
				<div class="rating1">
					<!--
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5">
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3" checked="">
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1">1</label>
					</span>
					-->

                   

					<script>
		
						display_rating({{book.rating}});

					</script>


				</div>



				<div class="w3agile_description">
					<h4>Description :</h4>
					<p>{{book.description}}</p>
				</br>
					<h5>Author :</h5>
					
					<b style="color:rgb(13, 15, 167);">{{book.author}}</b>
				
					 
				    
				</div> 
				    
                <div class="snipcart-item block">
					<div class="snipcart-thumb agileinfo_single_right_snipcart">
						<b class="m-sing">{% if book.pre_discount_price > 0%}<b style="color:rgb(5, 168, 54);">New Price:₪{{book.price}}</b> &nbsp;&nbsp; <s style="color:rgb(226, 18, 11);">Original Price:₪{{book.pre_discount_price}}</s></h4>{% else %}
							<b style="color:rgb(5, 168, 54);">Price:₪{{book.price}}</b> 
							{% endif %}</b>
					</div>
					<div class="snipcart-details agileinfo_single_right_details">
						
								<input type="submit" id="{{book.id}}" name="{{book.name}}" value="Add to cart" class="button">
							
								 
						
			
					
                				
			   

				<div class="snipcart-item block">
					
							
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- new -->
<div class="newproducts-w3agile">
	<div class="container" >
		<h3>Recomendations for you</h3>
		<div class="agile_top_brands_grids">
			{% for r in recomendations %}
			<div class="col-md-3 top_brand_left-1" style="padding: 5px;">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">

						{% if r.book.on_offer %}
						<div class="agile_top_brand_left_grid_pos">

							<img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive">

						</div>
						{% endif %}
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href=""><img title=" " alt=" "
												src="{{r.book.image.url}}{{r.image.url}}" style="height: 250px;width: 175px;"></a>
										<p>{{r.book.name}}{{r.name}}</p>
										<div class="stars">
											
											
											

											<script>
												display_rating({{r.book.rating}}{{r.rating}});
											</script>
										</div>
										<h4>${{r.book.price}} {{r.price}}<span>${{r.book.pre_discount_price}}{{r.pre_discount_price}}</span></h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										
											{% csrf_token %}
											<!--
											<fieldset>
												<input type="hidden" name="cmd" value="_cart">
												<input type="hidden" name="add" value="1">
												<input type="hidden" name="business" value=" ">
												<input type="hidden" name="item_name" value="basmati rise">
												<input type="hidden" name="amount" value="30.99">
												<input type="hidden" name="discount_amount" value="1.00">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="return" value=" ">
												<input type="hidden" name="cancel_return" value=" ">
												<input type="submit" name="cart" value="Add to cart" class="button">
											</fieldset>
											-->
											<input type="submit" id="{{r.book.id}}{{r.id}}" name="{{r.book.name}}{{r.name}}" value="Add to cart" class="button">
										
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- <script type="text/javascript">
				$('.button').click(function () {
					var catid;
					var csrf = $("input[name=csrfmiddlewaretoken]").val()
					
					catid = $(this).attr("id");
					book_name = $(this).attr("name");
					alert(book_name + ' will be added to your cart');
					$.ajax(
						{
							type: "POST",
							url: "/add_book",
							data: {
								post_id: catid,
								csrfmiddlewaretoken : csrf
							},
							success: function (data) {
								$('#like' + catid).remove();
								$('#message').text(data);
							}
						})
				});
			</script> -->
			<!--
			<div class="col-md-3 top_brand_left-1">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="products.html"><img title=" " alt=" " src="images/15.png"></a>
										<p>Navaratan-dal</p>
										<div class="stars">
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star gray-star" aria-hidden="true"></i>
										</div>
										<h4>$30.99 <span>$45.00</span></h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart">
												<input type="hidden" name="add" value="1">
												<input type="hidden" name="business" value=" ">
												<input type="hidden" name="item_name" value="basmati rise">
												<input type="hidden" name="amount" value="30.99">
												<input type="hidden" name="discount_amount" value="1.00">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="return" value=" ">
												<input type="hidden" name="cancel_return" value=" ">
												<input type="submit" name="submit" value="Add to cart" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 top_brand_left-1">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="products.html"><img src="images/16.png" alt=" "
												class="img-responsive"></a>
										<p>White-peasmatar</p>
										<div class="stars">
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star gray-star" aria-hidden="true"></i>
										</div>
										<h4>$80.99 <span>$105.00</span></h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart">
												<input type="hidden" name="add" value="1">
												<input type="hidden" name="business" value=" ">
												<input type="hidden" name="item_name" value="Pepsi soft drink">
												<input type="hidden" name="amount" value="80.00">
												<input type="hidden" name="discount_amount" value="1.00">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="return" value=" ">
												<input type="hidden" name="cancel_return" value=" ">
												<input type="submit" name="submit" value="Add to cart" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 top_brand_left-1">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="products.html"><img title=" " alt=" " src="images/17.png"></a>
										<p>Channa-dal</p>
										<div class="stars">
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star blue-star" aria-hidden="true"></i>
											<i class="fa fa-star gray-star" aria-hidden="true"></i>
										</div>
										<h4>$35.99 <span>$55.00</span></h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart">
												<input type="hidden" name="add" value="1">
												<input type="hidden" name="business" value=" ">
												<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
												<input type="hidden" name="amount" value="35.99">
												<input type="hidden" name="discount_amount" value="1.00">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="return" value=" ">
												<input type="hidden" name="cancel_return" value=" ">
												<input type="submit" name="submit" value="Add to cart" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
		-->
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //new -->
{% endblock %}